.navbar{
  padding: 20px,0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo{
height: 50px;
width: 150px;
background: none;
}

.navbar-menu{
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}